fastapi
uvicorn
sqlalchemy
alembic
pydantic
python-jose
passlib
google-generativeai
tavily-python
requests
redis
celery
python-dotenv
psycopg2-binary
langchain
groq
langchain-groq
bcrypt
langgraph
aiohttp
